.backTop {
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 34px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 60px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  z-index: theme(zIndex.50);
  transform: translateX(100px);
  background-color: theme(colors.white/0.7);

  &:hover {
    color: theme(colors.primary);
  }

  &.show {
    transform: translateX(0);
  }
}
