{
    "presets": [
        "es2015","stage-2",
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
            }
        }]
    ],
    "plugins": [
        ["transform-runtime", { "polyfill": true }],
        "dynamic-import-node", 
        "syntax-dynamic-import",
        "transform-decorators-legacy",
        "transform-exponentiation-operator",
        "transform-class-properties"

    ],
    "env": {
        "test": {
            "presets": ["env", "stage-2"]
        },
        "targets": {
            "node": true
        }
    }
}