.wrap {
  :global {
    tbody {
      .ant-descriptions-row {
        .ant-descriptions-item {
          padding-bottom: 0px;
        }
        &:first-child {
          display: none;
        }
        &:nth-child(2n) {
          .ant-descriptions-item {
            padding-bottom: 40px;
          }
        }
        &:nth-child(2n+1) {
          .ant-descriptions-item {
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}
