.login {
  background-image: url(/background.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;

  /* :global(.ant-pro-form-login-top) {
    margin-bottom: 40px;
  } */
}
