.content {
  overflow: scroll;
  overflow: overlay;
  mask: linear-gradient(90deg, theme(colors.black/0), theme(colors.black/1) 10px, theme(colors.black/1) 51%, theme(colors.black/0) 51%),
    linear-gradient(-90deg, theme(colors.black/0), theme(colors.black/1) 10px, theme(colors.black/1) 51%, theme(colors.black/0) 51%);

  &.hasScroll {
    scroll-behavior: smooth;
  }
}
.content::-webkit-scrollbar,
.content::-webkit-scrollbar-button,
.content::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb:hover,
.content::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track:hover,
.content::-webkit-scrollbar-track:active,
.content::-webkit-scrollbar-corner {
  display: none;
}

.container {
  position: relative;
}

.btn {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;

  .icon {
    font-size: 14px;
    opacity: 0.7;
    position: relative;
    z-index: 2;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &.prev {
    justify-content: flex-start;
    left: 0;
    .icon {
      margin-left: 6px;
    }
  }
  &.next {
    justify-content: flex-end;
    right: 0;

    .icon {
      transform: rotate(180deg);
      margin-right: 6px;
    }
  }

  &:hover {
    opacity: 1;
  }
}
